In [1]:
import importlib.util
import sys
loc = '/afs/ciemat.es/user/m/martialc/public/muTel_v4/muTel/src/muTel/__init__.py'
# loc = r'..\..\..\src\muTel\__init__.py'
src = 'muTel'
spec = importlib.util.spec_from_file_location(src, loc)
foo = importlib.util.module_from_spec(spec)
sys.modules[src] = foo
spec.loader.exec_module(foo)
%load_ext autoreload

In [2]:
from IPython.display import display
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import json
import matplotlib.pyplot as plt
import matplotlib as mpl
import pyarrow.parquet as pq
import pyarrow as pa
import os
from timeit import default_timer as timer
from scipy.optimize import curve_fit

import muTel.utils.meta as meta
from muTel.utils.tools import flatten_dict
from muTel.utils.units import Time

from muTel.dqm import MuData, MuEvent, MuChamber

In [9]:
mutel = MuChamber.from_preset('muTel','default','muTel')
data = MuData.from_datadir('run_588')
event = data[0]

In [12]:
event.df[event.df.sl == 4].sort_values('layer',ascending=False)

   EventNr  GEO  hit  channel  chamber  sl  layer  cell  TDCtime   DriftTime
4        0   26    3       72        1   4      4     3     1500   717.96875
1        0   26    6       70        1   4      3     2     1908  1036.71875
3        0   26    4       73        1   4      2     3     1600   796.09375
2        0   26    5       71        1   4      1     2     1802   953.90625