# Test para el módulo Cleaning de DQM

In [2]:
import numpy as np
import pandas as pd
from importlib import reload
from muTel.utils.data import read_muon
from muTel.dqm.cleaning import reindex

In [13]:
muon_df = read_muon(588,sl=3,nhits=4)

In [12]:
# muon_df.copy().drop(
#         ['Unnamed: 0.1','Unnamed: 0'],
#         axis='columns'
#     ).set_index(
#         ['EventNr']
#     )

         GEO  hit  channel  chamber  sl  layer  cell  TDCtime   DriftTime
EventNr
2         24    0        0        1   1      4     1     1576   100.00000
2         24    1       51        1   1      1    13     1496   727.34375
2         24    2       50        1   1      3    13     1598   807.03125
2         24    3       49        1   1      2    13     2962  1872.65625
2         24    4       93        1   2      2     8     1706   891.40625
...      ...  ...      ...      ...  ..    ...   ...      ...         ...
51242     26    3       41        1   3      2    11     1749   930.46875
51242     26    4       98        1   4      3     9     1497   733.59375
51242     26    5       99        1   4      1     9     1550   775.00000
51242     26    6      101        1   4      2    10     1863  1019.53125
51242     26    7      100        1   4      4    10     1918  1062.50000

[375099 rows x 9 columns]

In [73]:
muon_df.head(10)

,Unnamed: 0.1,Unnamed: 0,EventNr,GEO,hit,channel,chamber,sl,layer,cell,TDCtime,DriftTime
0,31,31,2,24,0,0,1,1,4,1,1576,100.00000
1,32,32,2,24,1,51,1,1,1,13,1496,727.34375
2,33,33,2,24,2,50,1,1,3,13,1598,807.03125
3,34,34,2,24,3,49,1,1,2,13,2962,1872.65625
4,35,35,2,24,4,93,1,2,2,8,1706,891.40625
5,36,36,2,24,5,94,1,2,3,8,1698,885.15625
6,37,37,2,24,6,95,1,2,1,8,1759,932.81250
7,38,38,2,24,7,92,1,2,4,8,1794,960.15625
8,39,39,2,26,0,54,1,3,3,14,1696,883.59375
9,40,40,2,26,1,57,1,3,2,15,1688,877.34375

In [69]:
columns_df = (
    tuple(zip(['HW_coord']*3,['GEO','hit','channel']))
    +
    tuple(zip(['SF_coord']*4,['chamber','sl','layer','cell']))
    +
    tuple(zip(['Data']*2,['TDCtime','DriftTime']))
)
columns_df

(('HW_coord', 'GEO'),
 ('HW_coord', 'hit'),
 ('HW_coord', 'channel'),
 ('SF_coord', 'chamber'),
 ('SF_coord', 'sl'),
 ('SF_coord', 'layer'),
 ('SF_coord', 'cell'),
 ('Data', 'TDCtime'),
 ('Data', 'DriftTime'))

In [82]:
df = muon_df.copy().drop(
        ['Unnamed: 0.1','Unnamed: 0'],
        axis='columns'
    ).set_index(
        ['EventNr']
    )
    
df.columns=pd.MultiIndex.from_tuples(columns_df)

ValueError: Index data must be 1-dimensional